.bundle
.idea
.powder
.powrc
atlassian-ide-plugin.xml
*.swp
db/*.sqlite3
log/*.log
log/*.err
tmp/
public/service/cma/downloads/
public/service/cma/uploads/
.DS_Store
.rvmrc
.ruby-gemset*
.ruby-version*
*.pid
.sass-cache/
.sass-cache/**/*
doc_data.txt
